name: build -> test -> download -> local_deploy

on:
  push:
    branches: [ master ]

env:
  SOURCE_WAR_PATH: target/webapp.war
  WAR_NAME: webapp.war

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    
    steps:
    - name: checkout
      uses: actions/checkout@v4
    
    - name: jdk21 setup
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
    
    - name: build war
      run: mvn clean package -DskipTests
    
    - name: create SBOM
      run: |
        mvn org.cyclonedx:cyclonedx-maven-plugin:2.9.1:makeAggregateBom
        cat target/sbom.json 2>/dev/null | head -30 || echo "SBOM file not found"
    
    - name: save SBOM
      uses: actions/upload-artifact@v4
      with:
        name: sbom-file
        path: |
          target/sbom.json
        retention-days: 1
    
    - name: wildfly setup and deploy .war
      run: |
        wget -q https://github.com/wildfly/wildfly/releases/download/37.0.1.Final/wildfly-37.0.1.Final.tar.gz
        tar -xzf wildfly-37.0.1.Final.tar.gz
        mv wildfly-37.0.1.Final wildfly
        cp target/webapp.war wildfly/standalone/deployments/
        cd wildfly/bin
        ./standalone.sh &
        sleep 30
    
    - name: test
      run: mvn test
      
    - name: save .war
      uses: actions/upload-artifact@v4
      with:
        name: webapp-war
        path: target/webapp.war
        retention-days: 1
